html {
	font-size: 10px;
}
body {
	padding: 1rem;
	background: #F9FAFB;
	font-family: Helvetica, Sans-Serif;
	color: #111827;
	font-size: 1.4rem;
}

form {
	padding: 1rem;
}

input {
	margin-bottom: 0.6rem;
}
input[type="password"],
input[type="text"] {
	padding: 0.4rem;
	border-color: #9CA3AF;
	appearance: none;
  	-moz-appearance: none;
  	-webkit-appearance: none;
  	box-shadow: none;
  	border-style: solid;
  	border-radius: 0.4rem;
}

input[type="submit"]{
	border-radius: 0.4rem;
	padding: 0.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #3B82F6;
	color: #fff;
	box-shadow: none;
	border-color: #2563EB;
	border-style: solid;
	appearance: none;
  	-moz-appearance: none;
  	-webkit-appearance: none;
  	outline: none;
}

input[type="submit"]:hover {
	background-color: #1D4ED8;
	appearance: none;
  	-moz-appearance: none;
  	-webkit-appearance: none;
  	outline: none;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
}

table td, table th {
  border: 0.1rem solid #E5E7EB;
  padding: 1rem;
}

table tr:nth-child(even){background-color: #ECFDF5;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  background-color: #047857;
  color: #ECFDF5;
}

/* Menu */
ul.menu {
	list-style: none;
	display: flex;
	justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

ul.menu > li {
	margin-right: 1.2rem;
	margin-top: 0.6rem;
	display: inline-block;
}

ul.menu > li > a {
	display: inline-block;
	padding: 1rem;
	font-size: 1.3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 0.4rem;
	border: 0.1rem solid #EFF6FF;
	background-color: #DBEAFE;
	text-decoration: none;
	color: #1E40AF;
}

ul.menu > li > a:hover {
	background-color: #93C5FD;
}

/* Main Title */
h1 {
	background-color: #EEF2FF;
	color: #4338CA;
    padding: 0.8rem;
    padding-left: 1.2rem;
    border-radius: 0.4rem;
    font-size: 2.4rem;
    border: 0.4rem outset #818CF8;
    font-weight: 500;
    text-align: center;
}
